:root {
  --primary-color: #ffbbf4;
  --secondary-color: #faffd2;
  --accent-color: #f5deb3;
  --gradient-color: linear-gradient(180deg, #ffbbf4, #faffd2);
  --box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "PT Sans", sans-serif;
}

nav {
  background-color: var(--primary-color);
}

li.nav-item {
  line-height: 16px;
  margin: 0 8px;
  padding: 2px 10px;
}
li.nav-item:hover {
  border: 1px solid #000;
  border-radius: 4px;
}
li.nav-item:focus {
  background: #000;
  border-radius: 4px;
  color: #fff;
}

.hero-page h1 {
  font-family: "Asap", sans-serif;
  font-size: 6.75rem;
  margin: 0 0 0 -0.5rem;
}

.hero-page h2 {
  font-size: 1.25rem;
  margin: 0;
}

.hero-page h3 {
  color: #565656;
  font-size: 1.625rem;
  margin: 0;
}

.primary-button {
  background: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: #fff;
  font-size: 1.375em;
  padding: 10px 64px;
  text-decoration: none;
}

.secondary-button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: #000;
  font-size: 1.375em;
  padding: 10px 38px;
  text-decoration: none;
}

.container.hero-page {
  background: var(--gradient-color);
  display: block;
  margin: 0;
  max-width: 100%;
  padding-top: 5rem;
}

.hero-section {
  margin: 9rem 3rem;
  justify-content: left;
}

.hero-links {
  margin-top: 3rem;
}

.project-btn {
  margin-right: 4.06rem;
}

.triangle1 {
  position: relative;
  background: var(--secondary-color);
  height: 1vh;
}

.triangle1::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 55px 0 55px;
  border-color: var(--secondary-color) transparent transparent transparent;
  left: 18%;
  transform: translateX(-50%) translateY(100%);
}

.about-me-page h2 {
  font-size: 4rem;
  font-family: "Asap", sans-serif;
  margin: 8rem auto 1rem auto;
}

.about-text {
  font-size: 20px;
  padding-left: 0;
  text-align: justify;
}

.profile-pic-border {
  background: var(--gradient-color);
  border-radius: 50%;
  height: 24rem;
  max-width: 24rem;
}
.profile-pic {
  border-radius: 50%;
  display: block;
  height: 23rem;
  margin: auto;
  max-width: 23rem;
  padding-top: 1rem;
}

.skills.container {
  padding-left: 0;
}

.skills-box {
  background-color: var(--secondary-color);
  border: 1px solid #000;
  border-radius: 4px;
  margin: 2rem 0 3rem 0;
  max-width: 35%;
}

.triangle2 {
  position: relative;
  background: #fff;
  height: 1vh;
}

.triangle2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 55px 0 55px;
  border-color: #fff transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
